.about {
  width: 100%;
  height: 100%;
}

.about section {
  height: 60vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background: #ece8e2;
  word-break: keep-all;
  justify-content: space-between;
}

.about section > div:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about section h3 {
  font-family: var(--font-content);
  line-height: 1;
  font-size: 3rem;
  margin-bottom: 10px;
}

.about section p {
  font-family: var(--font-sub-content);
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about section div:first-child p:nth-child(2) {
  font-size: 1.2rem;
}

.about section div:first-child p:nth-child(2) span {
  display: inline-block;
  margin-right: 4px;
}

.about section div:last-child p {
  font-size: small;
  gap: 10px;
}

.about section p em {
  font-family: var(--font-content);
  font-weight: bold;
}

.about section p:nth-child(3) span:first-child {
  display: flex;
  white-space : nowrap;
  margin-right: 3px;
}

.about section p a.warchive {
  font-family: var(--font-content);
  font-weight: bold;
  padding: 0 5px;
  cursor: pointer;
}

.about section p a.warchive img {
  margin-left: 5px;
}

.about section p a.warchive:after {
  display: block;
  content: "";
  border-bottom: 1px solid black;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 250ms ease-in-out;
}

.about section p a.warchive:hover:after {
  transform: scaleX(1);
}

.about section div:last-child p em {
  font-family: var(--font-sub-content);
}
