.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .intro {
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 500px;
  max-height: 660px;
  background-image: url('/images/home/home_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home .intro video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home .intro div {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: var(--font-header);
}

.home .intro div h3 {
  color: white;
  text-shadow: 0px 2px 4.4px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  line-height: 1;
}

@media (max-width: 500px) {
  .home .intro {
    min-height: 250px;
    max-height: 300px;
  }

  .home .intro div h3 {
    font-size: 2rem;
  }
}

.home .intro div a {
  width: fit-content;
  font-size: large;
  background: white;
  color: black;
  padding: 0.2em 2em;
  font-size: 1.25rem;
  border-radius: 5px;
  transition: 0.5s;
}

.home .intro div a:hover {
  background-color: black;
  color: white;
}

.home .welcome {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2rem 0;
  font-family: var(--font-header);
}

@media (max-width: 700px) {
  .home .welcome {
    flex-direction: column;
  }
}

.home .welcome div {
  display: flex;
  align-items: center;
}

.home .welcome .logo {
  font-size: 1.4em;
  margin-left: 5px;
  margin-right: 2px;
}

.home .carousel {
  overflow: hidden;
  width: 100%;
}

.home .carousel .track {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
}

.home .carousel img {
  width: 145px;
  height: 220px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.3s;
}

.hover-effect {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}

.home .gallery {
  width: 100%;
}

.home .gallery article {
  display: grid;
  width: 100%;
  margin-bottom: 5px;
}

.home .gallery article:nth-child(1) {
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  grid-template-areas:
    "a b c"
    "a d e";
}

.home .gallery article:nth-child(2) {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
}

.home .gallery article:nth-child(3) {
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  grid-template-areas:
    "a b e"
    "c d e";
}

.home .gallery article a:nth-child(1) {
  grid-area: a;
}

.home .gallery article a:nth-child(2) {
  grid-area: b;
}

.home .gallery article a:nth-child(3) {
  grid-area: c;
}

.home .gallery article a:nth-child(4) {
  grid-area: d;
}

.home .gallery article a:nth-child(5) {
  grid-area: e;
}

/* 마우스 오버 시 이미지 확대 */
.home .gallery article a {
  overflow: hidden;
  cursor: pointer;
}

.home .gallery article a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 0.3s;
}

.home .gallery article a img:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}
