@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Noto+Sans+KR&family=Noto+Serif+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

@import "reset.css";
@import "header.css";
@import "footer.css";
@import "logo.css";

@import "about.css";
@import "home.css";
@import "lookbook.css";
@import "lookbook-details.css";
@import "game.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --font-header: "Montserrat", sans-serif;
  --font-content: "Noto Serif KR", serif;
  --font-sub-content: "Noto Sans KR", sans-serif;

  font-family: var(--font-content);
  line-height: 1.6;
  letter-spacing: -1px;
}

header,
main,
footer {
  width: 100%;
  min-width: 375px;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 20px;
}

footer {
  margin-top: 50px;
}

b {
  font-weight: bold;
}

.fancybox__backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

main {
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

main.fade-in {
  opacity: 1;
}
